<!-- periodeView.html -->

<script type="text/ng-template" id="periodModalContent.html">

	<div class="modal-header">
		<h3 class="modal-title">Add periodic operation</h3>
	</div>
	<div class="modal-body">
	   <div class="row">
		<div class="col-md-6">
			
			<form name="periodForm" class="" ng-submit="submitForm(periodForm.$valid)" >
				<div class="form-group" ng-class="{ 'has-error' : periodForm.name.$invalid && !periodForm.name.$pristine }">
					<label>Name</label>
					<input type="text" name="name" class="form-control"  ng-model="periodTmp.name" ng-minlength="3" ng-maxlength="50"required>
					<p ng-show="periodForm.name.$error.required && !periodForm.name.$pristine" class="help-block">A name is required.</p>
					<p ng-show="periodForm.name.$error.minlength" class="help-block">Name is too short.</p>
					<p ng-show="periodForm.name.$error.maxlength" class="help-block">Name is too long.</p>
					<!-- <p class=""> invalid :{{periodForm.name.$invalid}} pristine: {{!periodForm.name.$pristine}}</p> -->
				</div>
				<div class="form-group" ng-class="{ 'has-error' : periodForm.intervalType.$invalid && !periodForm.intervalType.$pristine }">
				   <label>Period</label>
				   <select name="intervalType" class="form-control" ng-model="periodTmp.intervalType" ng-options="interval as interval.type for interval in intervalType" required></select>
				   <p ng-show="periodForm.intervalType.$invalid && !periodForm.intervalType.$pristine" class="help-block">Period is required.</p> <!-- Useless -->
			   </div>
			   <div class="form-group" ng-class="{ 'has-error' : periodForm.step.$invalid && !periodForm.step.$pristine }">
				<label>Period step</label>
				<input type="number" class="form-control" name="step" ng-model="periodTmp.step" min="1" required>
				<p ng-show="periodForm.step.$error.required && !periodForm.step.$pristine" class="help-block">Period step is required.</p>
				<p ng-show="periodForm.step.$error.min" class="help-block">Period step must be superior of 0.</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : (periodForm.dateBegin.$invalid || periodForm.dateBegin.$error.date) && !periodForm.dateBegin.$pristine }">
				<label>Date begin</label>
				<input type="date" name="dateBegin" class="form-control"  ng-model="periodTmp.dateBegin" date-before before="{{periodTmp.dateEnd}}" required>
				<p ng-show="periodForm.dateBegin.$error.required && !periodForm.dateBegin.$pristine" class="help-block">Date begin is required.</p>
				<p ng-show="periodForm.dateBegin.$error.date" class="help-block">Date begin must be before of date end.</p>
						<!--                 <p class=""> invalid: {{periodForm.dateBegin.$invalid}} 
							pristine: {{!periodForm.dateBegin.$pristine}}
							error: {{periodForm.dateBegin.$error}}
						</p> -->
						<p class=""><input type="checkbox" ng-change="setInfinite()" name="isInfinite" ng-model="periodTmp.isInfinite"> Infinite</p> <!--  -->
					</div>
					<div class="form-group" ng-hide="periodTmp.isInfinite" ng-class="{ 'has-error' : (periodForm.dateEnd.$invalid || periodForm.dateEnd.$error.date) && !periodForm.dateEnd.$pristine }">
						<label>Date end</label>
						<input ng-change="computeRepeatDate()" type="date" name="dateEnd" class="form-control"  ng-model="periodTmp.dateEnd"  date-after after="{{periodTmp.dateBegin}}" ng-disabled="periodTmp.isInfinite" required>
						<p ng-show="periodForm.dateEnd.$error.required && !periodForm.dateEnd.$pristine && !periodTmp.isInfinite" class="help-block">Date end is required.</p>
						<p ng-show="periodForm.dateEnd.$error.date" class="help-block">Date end must be after of date begin.</p>
					</div>
					<div class="form-group" ng-hide="periodTmp.isInfinite" ng-class="{ 'has-error' : periodForm.nbRepeat.$invalid && !periodForm.nbRepeat.$pristine && !periodTmp.isInfinite}">
						<label>Nb repeat</label>
						<input ng-change="computeDateRepeat()" type="number" name="nbRepeat" class="form-control"  ng-model="periodTmp.nbRepeat" ng-disabled="periodTmp.isInfinite"  min="1" required> 
						<p ng-show="periodForm.nbRepeat.$error.required && !periodForm.nbRepeat.$pristine" class="help-block">Nb repeat is required.</p>
						<p ng-show="periodForm.nbRepeat.$error.min && !periodTmp.isInfinite " class="help-block">Nb repeat must be superior of 0.</p>
						
					</div>
					<div class="form-group" ng-class="{ 'has-error' : periodForm.amount.$invalid && !periodForm.amount.$pristine }">
						<label>Amount</label>
						<input type="number" name="amount" class="form-control"  ng-model="periodTmp.amount" required>
						<p ng-show="periodForm.amount.$invalid && !periodForm.amount.$pristine" class="help-block">Amount is required.</p>
					</div>
					<div class="form-group">
						<!-- <a ng-show="isAdding" type="button" ng-click="addValid()" class="btn btn-info" role="button">Ok</a> -->

						<!-- <button type="submit" class="mt30 btn btn-primary" ng-disabled="periodForm.$invalid">Ok</button> -->
					</div>
		<!--             <p class=""> 
						invalid :{{periodForm.$invalid}} 
						error :{{periodForm.$error}} 
					</p> -->
				</form>

			</div>
			<div class="col-md-6">

				<!-- <h3>Projection of this operation</h3> -->
				<table class="table" ng-show="projection !== undefinded">
					<thead>
						<tr>
							<!-- <th data-field="name">Name</th> -->
							<th data-field="date">Date</th>
							<th data-field="amount">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="operation in projection">
							<td>{{operation.date | date2:'dd/MM/yyyy'}}</td>
							<td>{{operation.amount | currency:'€':0:true}}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="submitForm(periodForm.$valid)" ng-disabled="periodForm.$invalid">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>


<div class="container">

	<h2>Periodic operation</h2>
	<table class="table">
		<thead>
			<tr>
				<th data-field="name">Name</th>
				<th data-field="dateBegin">Date Begin</th>
				<th data-field="dateEnd">Date End</th>
				<th data-field="nbRepeat">Number of Repeat</th>
				<th data-field="step">Step</th>
				<th data-field="intervalType">Interval type</th>
				<th data-field="amount">Amount</th>
				<th data-field="action">   
					<a type="button" ng-click="openAdd()" class="btn btn-primary" role="button">Add</a>
				<!--<a ng-show="!isAdding" type="button" ng-click="add()" class="btn btn-primary" role="button">Add</a>
				<a ng-show="isAdding" type="button" ng-click="addCancel()" class="btn btn-warning" role="button">Cancel</a></th> -->
			</tr>
		</thead>
		<tbody>

			<tr ng-show="isAdding"> 

			 
		<!--<form name="periodForm" ng-submit="submitForm(periodForm.$valid)" >
			<td class="form-group">
				<input type="text" name="name" class="form-control"  ng-model="periodTmp.name" required>
				<p ng-show="periodForm.name.$invalid && !periodForm.name.$pristine" class="help-block">A name is required.</p>
				invalid :{{periodForm.name.$invalid}} pristine: {{!periodForm.name.$pristine}}
			</td>
			<td><input type="date" name="dateBegin" class="form-control"  ng-model="periodTmp.dateBegin" required></td>
			<td><input ng-change="computeRepeatDate()" type="date" name="dateEnd" class="form-control"  ng-model="periodTmp.dateEnd" ng-disabled="periodTmp.isInifinite" required></td>
			<td><input ng-change="computeDateRepeat()" type="number" name="nbRepeat" class="form-control"  ng-model="periodTmp.nbRepeat" ng-disabled="periodTmp.isInifinite" required> 
				<input ng-change="setInfinite()" type="checkbox" name="isInifinite" ng-model="periodTmp.isInifinite"> Infinite</td>
			<td><input type="number" class="form-control" name="step" ng-model="periodTmp.step" required></td>
			<td><select name="intervalType" class="form-control" ng-model="periodTmp.intervalType" ng-options="interval as interval.type for interval in intervalType" required></select></td>
			<td><input type="number" name="amount" class="form-control"  ng-model="periodTmp.amount" required></td>
			<td>
				<a ng-show="isAdding" type="button" ng-click="addValid()" class="btn btn-info" role="button">Ok</a>
				 <button type="submit" class="btn btn-primary" ng-disabled="periodForm.$invalid">Ok</button>
			</td>
		</form> -->
			<!--             
			<td>{{periodTmp.name}}</td>
			<td>{{periodTmp.dateBegin | date}}</td>
			<td>{{periodTmp.dateEnd | date}}</td>
			<td>{{periodTmp.nbRepeat | repeat}}</td>
			<td>{{periodTmp.step}}</td>
			<td>{{periodTmp.intervalType}}</td>
			<td>{{periodTmp.amount | currency:'€':0:true}}</td> -->
		</tr>
		<tr ng-repeat="period in periods">
			<td>{{period.name}}</td>
			<td>{{period.dateBegin | date2:'dd/MM/yyyy'}}</td>
			<td>{{period.dateEnd | date2:'dd/MM/yyyy'}}</td>
			<td>{{period.nbRepeat | repeat}}</td>
			<td>{{period.step}}</td>
			<td>{{period.intervalType | period}}</td>
			<td>{{period.amount | currency:'€':0:true}}</td>
			<td> <a type="button" ng-click="remove(period)" class="btn btn-danger btn-xs" role="button">X</a>
				<a type="button" ng-click="makeProjection(period)" class="btn btn-info btn-xs" role="button">P</a></td>
			</tr>



			<!-- sub array of real operation -->
			<!-- sub array of projection -->
		</tbody>
	</table>

	<table class="table" ng-show="isProjection">
		<thead>
			<tr>
				<!-- <th data-field="name">Name</th> -->
				<th data-field="date">Date</th>
				<th data-field="amount">Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="operation in projection">
				<td>{{operation.date | date2:'dd/MM/yyyy'}}</td>
				<td>{{operation.amount | currency:'€':0:true}}</td>
			</tr>
		</tbody>
	</table>

</div>