
<div class="container">

    <div ng-repeat="op in operations" class="operation">

        {{ op.dateOperation }} --
        {{ op.datePrelevement }} -- 
        {{ op.description }} -- 
        {{ op.thirdParty }} -- 
        {{ op.type }} --
        <span ng-if="op.value < 0" class="colorRed">
            {{ op.value }}
        </span>

        <span ng-if="op.value > 0" class="colorGreen">
            {{ op.value }}
        </span>

        -- Est validé 
        <input ng-if="op.checked" type="checkbox" checked>
        <input ng-if="!op.checked" type="checkbox">
    </div>

</div>